@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-gradient-primary-to-secondary">
    <div class="container">
        <h1 class="display-5 mt-2 mb-2 fw-bold text-white"><i class="bi bi-transparency text-gray me-3"></i>Bem-vindo(a)!</h1>
        <p class="col-lg-8 col-md text-gray">Nosso sistema foi projetado para simplificar e otimizar o processo de vendas da sua empresa, proporcionando uma plataforma intuitiva e eficiente para gerenciar funcionários, produtos, clientes e vendas.<span class="text-white"> Nossos principais recursos <i class="bi bi-arrow-down"></i></span></p>
    </div>


</div>

<div class="container bg-white bloco w-75">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col">
            <h2 class="fw-bold text-primary">Gerenciamento de Funcionários</h2>
            <p class="col-lg-10 col-sm">Cadastre, acompanhe e gerencie os dados dos seus funcionários de forma fácil e organizada. Atribua diferentes níveis de acesso para garantir a segurança das informações.</p>
        </div>
        <a class="col-lg-1 col-md-2" asp-area="" asp-controller="Funcionarios" asp-action="Index"><i class="bi bi-arrow-up-right-circle text-primary display-2"></i></a>
    </div>
</div>
<div class="container bg-white bloco1 mt-4 w-75">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col">
            <h2 class="fw-bold text-primary">Gestão de Clientes</h2>
            <p class="col-lg-10 col-sm">Registre informações detalhadas sobre seus clientes, facilitando o atendimento personalizado e a fidelização. Acompanhe histórico de compras e preferências para oferecer um serviço de qualidade.</p>
        </div>
        <a class="col-lg-1 col-md-2" asp-area="" asp-controller="Clientes" asp-action="Index"><i class="bi bi-arrow-up-right-circle text-primary display-2"></i></a>
    </div>
</div>
<div class="container bg-white bloco1 my-4 w-75">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col">
            <h2 class="fw-bold text-primary">Registro de Vendas</h2>
            <p class="col-lg-10 col-sm">Registre vendas de forma rápida e eficiente, atribuindo cada venda a um funcionário e cliente específicos. Visualize relatórios detalhados de vendas para análises de desempenho.</p>
        </div>
        <a class="col-lg-1 col-md-2" asp-area="" asp-controller="Vendas" asp-action="Index"><i class="bi bi-arrow-up-right-circle text-primary display-2"></i></a>
    </div>
</div>