@{
    ViewData["Title"] = "Politica de Privacidade";
}

<div class="container my-5">
    <h1 class="fw-bold text-primary">@ViewData["Title"]</h1>

    <p>A privacidade dos nossos usuários é uma prioridade para nós. Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos as informações pessoais dos usuários do nosso Sistema de Controle de Vendas.</p>

    <h3>Informações Coletadas:</h3>
    <ul>
        <li><span class="fw-bold">Informações de Registro:</span> Ao se registrar no nosso sistema, podemos coletar informações como nome, endereço de e-mail, e outras informações de contato.</li>
        <li><span class="fw-bold">Informações de Uso:</span> Podemos coletar informações sobre como você interage com o nosso sistema, incluindo registros de acesso, atividades de navegação e preferências de configuração.</li>
        <li><span class="fw-bold">Informações de Transações:</span> Ao realizar transações através do nosso sistema, podemos coletar informações relacionadas às suas compras, pagamentos e histórico de transações.</li>
    </ul>
    
    <h3>Uso das Informações:</h3>
    <ul>
        <li><span class="fw-bold">Melhoria do Serviço:</span> Utilizamos as informações coletadas para melhorar e personalizar a experiência do usuário, oferecendo funcionalidades relevantes e otimizando o desempenho do sistema.</li>
        <li><span class="fw-bold">Comunicação:</span> Podemos usar as informações para nos comunicarmos com você sobre o sistema, atualizações, novos recursos, promoções e outras informações relevantes.</li>
        <li><span class="fw-bold">Segurança:</span> Utilizamos medidas de segurança adequadas para proteger as informações dos usuários contra acesso não autorizado, uso indevido ou divulgação.</li>
    </ul>
</div>